*{
    box-sizing: border-box;
}

.container{
            width:450px;
            height:600px;
            margin-top:150px;
            border:1px solid #dcdcdc;
            background: #FAFAFA;
}

.surati{
        width: 159.24px;
        height: 146.57px;
        left: 640px;
        margin-top:50px;

}

.satauri{
         font-weight:700;
         font-size:25;
         font-style: normal;

}

.text{
        font-style: normal;
        font-size: 17;
        text-align: center;
}








    







































